.bodyImage {
    background-image: url("https://fsb.zobj.net/crop.php?r=USSh-tXQNDMEtgXhLC5GeBUSvt6IJ2aQDKD2xu2hzxz9Rw3LpLH2Mb6AMNjCa9i_m8xh97dRib418Tzf9-xaZ9wHi7v6DzL5iBTYt-C-15ry-xKmFtUR9OY0b3qw8qIwLc52SG0t-Eb-lFeq");
    opacity: 0.5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-attachment: scroll;
    background-size: 100%;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.headerFont {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: whitesmoke;
    margin-left: 26%;

}

.buttonSection {
  margin-top: 15%;
  margin-left: 20%;
}

.buttonSize {
    height: 40px;
    width: 400px;
    border-radius: 20px;
    font-size: large;
    
}
.buttonSize:hover,
.buttonSize:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  background-color: whitesmoke;
}


.aboutButton {
  margin-right: 30px;
 
}