@import "~antd/dist/antd.css";
.bodyImage {
    background-image: url("https://fsb.zobj.net/crop.php?r=USSh-tXQNDMEtgXhLC5GeBUSvt6IJ2aQDKD2xu2hzxz9Rw3LpLH2Mb6AMNjCa9i_m8xh97dRib418Tzf9-xaZ9wHi7v6DzL5iBTYt-C-15ry-xKmFtUR9OY0b3qw8qIwLc52SG0t-Eb-lFeq");
    opacity: 0.5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-attachment: scroll;
    background-size: 100%;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.headerFont {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: whitesmoke;
    margin-left: 29%;
    opacity: 0.85;

}

.buttonSection {
    
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 10%;
    
}

.buttonSize {
    height: 40px;
    width: 400px;
    border-radius: 20px;
    font-size: large;
    
}
.buttonSize:hover,
.buttonSize:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  background-color: whitesmoke;
}


.aboutButton {
margin-bottom: 40px;
 
}

.quote {
    font-size: 40px;
   position: absolute;
   bottom: 0;
   margin-left: 35px;
   color: whitesmoke;
   opacity: 0.80;
}

.quoteEnd {
    font-size: 20px;
    position: absolute;
    bottom: 0;
   right: 0;
   color: whitesmoke;
   opacity: 0.80;
}

.contactHeader {
    text-align: center;
    font-family: fantasy;
    font-size: 15px;
    font-weight: bold;
}

.icons {
    border-radius: 50px;
    border: 1px solid black;
   height: 50px;
   width: 50px;
   margin: 5px 15px 5px 15px;
}

.iconSection {
    margin-top: 25px;
    margin-left: 30px;
}

.spans {
    font-weight: bold;
    font-size: 15px;
    font-family: fantasy;
}
.headerTitle {
    font-weight: bold;
    font-size: 40px;
    font-family: fantasy;
    text-align: center;
}

.feedbackHeaders {
    text-align: left;
    font-family: fantasy;
    font-size: 20px;
    font-weight: bolder;
}